<<<<<<< HEAD
body{
  height: 100vh;
}

.fondo{

    /*background: url("../img/bg3.jpg") no-repeat center center fixed;*/
    background-color: #222831;

=======
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body{
  margin: 0 !important ;
  padding: 0 !important;
  background-color: #e0e0e2 ;
  height: 100vh;
  
}
.fondo{
    /*margin-top: -3rem;*/
    height: 100vh;
    background: url("../img/bg-girl.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
>>>>>>> pruebasRodri
  }


.bg-oscuro{
  background-color: rgba(0, 0, 0, 0.4 );

}
.clickeable{
  transform: scale(1);
  transition: 0.5s;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}
main{
  height: 100vh;
}

.bg-img-girl{
  /*background: url("../img/bg-girl-png.png");

   /* Full height */
   height: 100%;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}
.clickeable:hover{
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.02,1.02);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 1);
}

.slider-ro{
  transition: all .4s ease-in-out !important;
}

.second-color{
  background-color: #222831;
}

.third-color{
  background-color: #4f8a8b;
}

.fourth-color{
  background-color: #fbd46d;
}

#appContainer{
  width: 100% !important; 
}