.fondo{

    /*background: url("../img/bg3.jpg") no-repeat center center fixed;*/
    background-color: #eeeeee;

  }

.bg-oscuro{
  background-color: rgba(0, 0, 0, 0.4 );

}
.clickeable{
  transform: scale(1);
  transition: 0.5s;
}

.bg-img-girl{
  background: url("../img/bg-girl.jpg");
   /* Full height */
   height: 100%;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}
.clickeable:hover{
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.02,1.02);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 1);
}

.slider-ro{
  transition: all .4s ease-in-out !important;
}

#appContainer{
  width: 100% !important; 
}