.fondo{

    background: url("../img/bg3.jpg") no-repeat center center fixed;
  }

.bg-oscuro{
  background-color: rgba(0, 0, 0, 0.4 );

}
.clickeable{
  transform: scale(1);
}


.clickeable:hover{
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.02,1.02);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 1);
}

.slider-ro{
  transition: 2s;
}